<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dillon John</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" href="static/images/favicon.ico">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  -->
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300;1,400&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="top-container">
      <img class="top-cloud" src="static/images/cloud.png" alt="cloud-img">
      <h1>I'm Dillon.</h1>
      <h2 class="programmer">a <span class="pro"> pro</span>grammer.</h2>
      <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud-img">
        <img src="static/images/mountain.png" alt="mountain-img">
    </div>

    <div class="middle-container">
      <div class="profile">
        <img src="static/images/IMG_08570.JPG" alt="personal-photo">
        <h2>Hello.</h2>
        <p class="intro">I am a backend developer passionate about team collaboration, learning new technologies, and improving my skills.</p>
      </div>
      <hr>
      <div class="skills">
        <h2>My Skills.</h2>
        <div class="skill-row">
          <img class="pyImage" src="static/images/pyimage.jpg" alt="python-png">
          <h3 class="Python"><a href="templates/pythonProjects.html" class="Python">Python</a></h3>
          <p>With 4+ years of experience with Python, I have knowledge on the ins and outs of this language and use this as my primary choice for projects.
             I have used tools offered from this language such as pandas, turtle, tkinter, smtplib, and various others in order to create functional programs.</p>
        </div>
        <div class="skill-row">
          <img class="javimage" src="static/images/javimage.jpg" alt="java-png">
          <h3 class="Java"><a href="templates/javaProjects.html" class="Java">Java</a></h3>
          <p>With 3+ years of experience with Java, I have used this languge extensively and have an in depth understanding on the concepts provided by this langauge such as Java streams, springboot, and maven.</p>
        </div>
        <div class="skill-row">
          <img class="webimage" src="static/images/webimages.jpg" alt="web-png">
          <h3>Web Development</h3>
          <p>I have 2+ years of experience with HTML and css and have consistently used these front end languages to make functional websites.</p>
        </div>
      </div>
      <hr>
      <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3><em>"Programming isn't about what you know; <br>it's about what you can figure out.” </em>  - Chris Pine</h3>
        <p class="contact-message">If you are looking for a dedicated programmer that has the patience and drive to solve any problem that comes their way, <br>⬇️.</p>
        <a class="btn" href="mailto:Dillon1john@gmail.com">CONTACT ME</a>
      </div>
    </div>


    <div class="bottom-container">
      <a class="footer-link" href="https://www.linkedin.com/in/dillon-j-12318a15a/">LinkedIn</a>
      <!-- <a class="footer-link" href="https://twitter.com/">Twitter</a> -->
      <a class="footer-link" href="https://github.com/Dillon1john">Github</a>
      <p class="tm">© 2021 Dillon John.</p>
    </div>

  </body>
</html>
