<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dillon John</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="favicon.ico">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  -->
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300;1,400&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="topPage">
      <h1>Java Projects</h1>
      <h4><a href="templates/index.html" class="back_button">Back</a></h4>
    </div>

    <div class="pythonTable">
      <div class="p1">
        <ul>
          <li class="projectTitle"><h3>HashMap JSON Project</h3></li>
          <ul>
            <li><strong style="font-weight:bold;color:#11999E;">Language:</strong> Java </li>
            <li><strong style="font-weight:bold;color:#11999E;">Goal:</strong> Utilizing a HashMap data structure to get specific values from a JSON file.
              Then returning these values through rest service application available through utilization of Spring Framework.</li>
              <li><strong style="font-weight:bold;color:#11999E;">Concepts Used:</strong>OOP, Hasmaps, LinkedLists, Maven, Gson API, Records, Java Streams </li>
              <li style="text-align:center;"><a href="https://github.com/Dillon1john/HashMap-JSON-Project" class="prolink">View Project</a></li>
          </ul>
      </div>

      <div class="p2">
        <ul>
          <li class="projectTitle"><h3>AVLBinarySearchTree Project</h3></li>
          <ul>
            <li><strong style="font-weight:bold;color:#11999E;">Language:</strong> Java </li>
            <li><strong style="font-weight:bold;color:#11999E;">Goal:</strong> Creating a program that runs against an interface in order to sort data in to an auto
               rotating binary search tree that allows user to find certain properties of a set of data  .</li>
              <li><strong style="font-weight:bold;color:#11999E;">Concepts Used:</strong> Interface, OOP, java streams, recursion,
Maven, LinkedList, Generics, Binary search tree data structure  </li>
              <li style="text-align:center;"><a href="https://github.com/Dillon1john/AVLBinarySearchTree" class="prolink">View Project</a></li>
          </ul>
      </div>

      <div class="p3">
        <ul>
          <li class="projectTitle"><h3>Rest Service Project</h3></li>
          <ul>
            <li><strong style="font-weight:bold;color:#11999E;">Language:</strong> Java </li>
            <li><strong style="font-weight:bold;color:#11999E;">Goal:</strong> Created a Spring boot application that utilizes Linked Lists, java streams, and Hash-maps in order to filter data from a json file containing 50,000 items </li>
              <li><strong style="font-weight:bold;color:#11999E;">Concepts Used:</strong> springboot, Gson API, json, HashMap, Postman, Linked lists, Java streams,maven, OOP, Records, Comparables, Generics</li>
              <li style="text-align:center;"><a href="https://github.com/Dillon1john/Rest-Service-Application" class="prolink">View Project</a></li>
          </ul>
      </div>

      <div class="p4">
        <ul>
          <li class="projectTitle"><h3>Business Logic Project</h3></li>
          <ul>
            <li><strong style="font-weight:bold;color:#11999E;">Language:</strong> Java </li>
            <li><strong style="font-weight:bold;color:#11999E;">Goal:</strong> Demonstrating a clear understanding of common business practices through the creation of a program that process data from a json file that has been turned into an object.</li>
              <li><strong style="font-weight:bold;color:#11999E;">Concepts Used:</strong> Linked List, Generics, Comparables, getters & setters, Class Inheritance </li>
              <li style="text-align:center;"><a href="https://github.com/Dillon1john/Business-Logic-" class="prolink">View Project</a></li>
          </ul>
      </div>



    </div>

    <div class="bottom-container" style="margin-top 20px;">
      <a class="footer-link" href="https://www.linkedin.com/in/dillon-j-12318a15a/">LinkedIn</a>
      <!-- <a class="footer-link" href="https://twitter.com/">Twitter</a> -->
      <a class="footer-link" href="https://github.com/Dillon1john">Github</a>
      <p class="tm">© 2021 Dillon John.</p>
    </div>



  </body>
</html>
