<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dillon John</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="favicon.ico">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  -->
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300;1,400&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="topPage">
      <h1>Python Projects</h1>
      <h4><a href="index.html" class="back_button">Back</a></h4>
    </div>

    <div class="pythonTable">
      <div class="p1">
        <ul>
          <li class="projectTitle"><h3>Flight Deals Project</h3></li>
          <ul>
            <li><strong style="font-weight:bold;color:#11999E;">Language:</strong> Python </li>
            <li><strong style="font-weight:bold;color:#11999E;">Goal:</strong> Utilizing multiple APIs in order to create a program that notifies
              users who sign up about cheap flights available within a certain time frame.</li>
              <li><strong style="font-weight:bold;color:#11999E;">Concepts Used:</strong> Twilio API, smtplib, os, requests, sheety API, tequila API</li>
              <li style="text-align:center;"><a href="https://github.com/Dillon1john/PythonProjects/tree/main/flight-deals-start" class="prolink">View Project</a></li>
          </ul>
      </div>

      <div class="p2">
        <ul>
          <li class="projectTitle"><h3>Password Manager Project</h3></li>
          <ul>
            <li><strong style="font-weight:bold;color:#11999E;">Language:</strong> Python </li>
            <li><strong style="font-weight:bold;color:#11999E;">Goal:</strong> Creating a program that allows user to input their emails and passwords for websites they use and store the information onto a json file. In addition to this, the program also can generate random passowrds for usage and allows the user to search for password using the associated website as the search key.</li>
              <li><strong style="font-weight:bold;color:#11999E;">Concepts Used:</strong> Tkinter module, Pyperclip,list comprehension, Exception handling</li>
              <li style="text-align:center;"><a href="https://github.com/Dillon1john/PythonProjects/tree/main/password-manager-start" class="prolink">View Project</a></li>
          </ul>
      </div>

      <div class="p3">
        <ul>
          <li class="projectTitle"><h3>Workout Tracker Project</h3></li>
          <ul>
            <li><strong style="font-weight:bold;color:#11999E;">Language:</strong> Python </li>
            <li><strong style="font-weight:bold;color:#11999E;">Goal:</strong> Creating a program that allows user to describe their work out in a text prompt that then utilizes an API to categorize
               these workouts based off key words. The program then stores the information collected including the current date & time into a google drive sheet using Sheety API.</li>
              <li><strong style="font-weight:bold;color:#11999E;">Concepts Used:</strong> request module, datetime module, environment variables, list comprehension, Exception handling</li>
              <li style="text-align:center;"><a href="https://github.com/Dillon1john/PythonProjects/tree/main/workout_tracker " class="prolink">View Project</a></li>
          </ul>
      </div>

      <div class="p4">
        <ul>
          <li class="projectTitle"><h3>US States Game Project</h3></li>
          <ul>
            <li><strong style="font-weight:bold;color:#11999E;">Language:</strong> Python </li>
            <li><strong style="font-weight:bold;color:#11999E;">Goal:</strong> Created a program that tests the users knowledge of the 50 states of USA. It displays a window with a blank map that gives users a prompt message to guess states, if these states match the items in the states.csv file they are then moved to the correct positioning of where that state should be.</li>
              <li><strong style="font-weight:bold;color:#11999E;">Concepts Used:</strong> Turtle, pandas, csv</li>
              <li style="text-align:center;"><a href="https://github.com/Dillon1john/PythonProjects/tree/main/us-states-game-start" class="prolink">View Project</a></li>
          </ul>
      </div>



    </div>

    <div class="bottom-container" style="margin-top 60px">
      <a class="footer-link" href="https://www.linkedin.com/in/dillon-j-12318a15a/">LinkedIn</a>
      <!-- <a class="footer-link" href="https://twitter.com/">Twitter</a> -->
      <a class="footer-link" href="https://github.com/Dillon1john">Github</a>
      <p class="tm">© 2021 Dillon John.</p>
    </div>



  </body>
</html>
